/* ====== BODY ====== */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background-image: url('bgadmin.png');
    background-repeat: no-repeat;
    background-size: cover;        /* FULL screen cover */
    background-position: center;   /* Center se fit */
    background-attachment: fixed;  /* Scroll pe bhi fixed rahe */

    color: #fff;

    min-height: 100vh;   /* Full height */
    overflow-x: hidden;  /* Side scroll band */
    overflow-y: auto;    /* Neeche space allow */
}

/* ====== SIDEBAR ====== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background: rgba(0,0,0,0.85);
    padding: 25px 20px;
    box-shadow: 5px 0 25px rgba(0,0,0,0.6);
}

.sidebar h2{
    font-size: 22px;
    margin-bottom: 30px;
    background: linear-gradient(45deg,#ff4ecd,#6ae3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 5s infinite linear;
}
@keyframes hue {
    0% { filter: hue-rotate(0deg);}
    100% { filter: hue-rotate(360deg);}
}

.sidebar a{
    display: block;
    padding: 12px 15px;
    color: #ddd;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.sidebar a:hover{
    background: linear-gradient(45deg,#ff4ecd,#6ae3ff);
    color: #fff;
}

/* ====== MAIN CONTENT ====== */
.main-content{
    margin-left: 240px;
    height: 100vh;
    overflow-y: auto;
    padding: 40px;
}

/* ====== HEADER ====== */
.main-content h1{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 28px;
}

/* ====== STAT CARDS ====== */
.card-stats{
    background: linear-gradient(135deg,#ff4ecd,#6ae3ff);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    
}

.card-stats p{
    margin: 0;
    font-size: 16px;
}

.card-stats h3{
    font-size: 40px;
    margin-top: 5px;
}




